.grid-container.has-footer {
  padding-bottom: 50px;
}
.grid-row {
  font-size: 14px;
}
.table td.grid-cell {
  vertical-align: middle;
}
.table td.grid-cell.align-right {
  text-align: right;
}
.grid-buttons {
  display: flex;
  flex-direction: column;
}
.grid-button {
  font-size: 12px;
  margin: 3px 0;
  white-space: nowrap;
}
a.nav-link {
  display: inline;
  cursor: pointer;
}
